@font-face {
  font-family: "Pretendard-Regular";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  color: black;
}

img {
  width: auto;
  height: 100%;
}

body {
  margin: 0;
  font-family: "Pretendard-Regular";
  overflow-x: hidden;
  background-color: rgb(249, 249, 249);
}

a:link,
a:visited {
  text-decoration: none;
}

p {
  margin: 0;
}
