.Card-Burn-Project {
  width: 285px;
  height: 240px;
  background-color: #191919;
  border-radius: 12px;
}

.Card-Burn-Project-looklike {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.Card-Burn-Project-category p {
  display: inline-block;
  border: 0.3px solid #439aff;
  border-radius: 29px;
  padding: 6px 15px;
  color: #439aff;
  font-size: 10px;
  font-weight: bold;
}

.Card-Burn-Project-text {
  margin-top: 10px;
}

.Card-Burn-Project-title {
  width: 100%;
  height: 28px;
  font-size: 24px;
  font-weight: bold;
  color: white;

  margin-bottom: 3px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.Card-Burn-Project-description {
  font-size: 14px;
  color: #bdc7d5;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.Card-Burn-Project-common {
  margin-top: -240px;
  padding: 25px;

  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: opacity 400ms ease-in-out;

  position: relative;
  z-index: 10;
}

.Card-Burn-Project-hover {
  padding: 25px;

  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;

  margin-top: calc(-83%);
  opacity: 0;
  transition: opacity 400ms ease-in-out;

  position: relative;
  z-index: 10;
}

.to-Burn-project-btn {
  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 101px;
  height: 42px;
  background-color: #439aff;
  color: white;
  font-size: 20px;
  border-radius: 52px;

  padding: 0 18px;
}

.to-Burn-project-btn p {
  padding-bottom: 7px;
}

.to-Burn-project-btn img {
  height: 18px;
}

.Card-Burn-Project:hover .Card-Burn-Project-common {
  opacity: 0;
}

.Card-Burn-Project:hover .Card-Burn-Project-hover {
  opacity: 1;
}

.Card-Burn-img {
  overflow: hidden;
  display: flex;
  justify-content: center;
  min-width: 285px;
  height: 240px;
  border-radius: 12px;

  position: relative;
  z-index: 1;
}

.Card-Burn-img img {
  filter: brightness(40%);
  transition: 400ms ease-in-out;
}

.Card-Burn-Project:hover .Card-Burn-img img {
  transition: 400ms ease-in-out;
  filter: brightness(40%) blur(4px);
}
