.Header {
  height: 90px;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;

  box-shadow: 0 2px 4px 0 rgb(19, 24, 48, 0.15);
  /* padding: 0 120px; */
  padding: 0 7vw;
}

.header-left,
.header-right {
  display: flex;
  font-size: 20px;
  /* font-size: 1.2em; */
  gap: 55px;
  /* gap: 2vw; */
  align-items: center;
}

.header-right {
  gap: 40px;
}

.header-left img {
  height: 55px;
}

.search-bar {
  /* width: 280px; */
  width: calc(16.5vw + 3vw);
  height: 44px;

  display: flex;
  align-items: center;

  border: 0.5px solid rgb(98, 112, 134);
  border-radius: 52px;

  padding: 0 1.5vw;
  gap: 15px;
}

.search-bar img {
  height: 25px;
}

.search-text {
  width: 80%;
  border: none;
  outline: none;
  font-family: "Pretendard-Regular";
  font-size: 0.8em;
}

.user-bar {
  display: flex;
}

.login-user {
  display: flex;
  align-items: center;
  gap: 20px;
}

.img-bell {
  height: 35px;
}

.img-profile {
  height: 44px;
}

.header-line {
  border-top: 0.5px solid #bdc7d5;
  width: 145px;
}

.bell-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

.bell-list {
  width: 340px;
  height: 309px;
  overflow-y: scroll;
  font-size: 14px;
}

.bell-content {
  width: 330px;
  height: 63px;
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: 400ms ease-in-out;
  padding: 0 10px;
  border-radius: 7px;
}

.bell-content:hover {
  background-color: #e5f4ff;
  transition: 400ms ease-in-out;
}

.bell-content img {
  height: 47px;
  margin-right: 15px;
}

.bell-content p {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  word-break: break-all;
}
