.project-explanation-label label {
  width: max-content;
  margin-bottom: 0.5rem;
  display: flex;
  align-items: center;
  font-size: 24px;
  font-weight: 800;
}
.proj-explanation {
  margin-top: 50px;
}
.project-explanation-content {
  margin: 40px 0px;
}
.project-link-container {
  background-color: #f0f1f5;
  margin-top: 150px;
  padding: 48px 0px;
}
.project-url-label label {
  font-size: 20px;
  margin-bottom: 20px;
}
.project-url-label {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.project-link-button {
  display: flex;
  align-items: center;
  width: 200px;
  padding: 10px 20px 10px 20px;
  border: 1px solid #439aff;
  color: #439aff;
  font-size: 12px;
  background-color: white;
  border-radius: 10px;
  margin-bottom: 20px;
}
.project-link-button:hover {
  background-color: #439aff;
  color: white;
}
/*좋아요*/
.project-like-container {
  display: flex;
  justify-content: center;
  margin-top: 150px;
  margin-bottom: 150px;
}

.project-read-like {
  padding: 10px 40px;
  font-size: 20px;
  color: #439aff;
  border: 1px solid #439aff;
  border-radius: 20px;
  display: block;
  align-items: center;
  background-color: white;
}

.project-read-like:hover {
  background-color: #439aff;
  color: white;
}
.project-like {
  color: #439aff;
}
.project-main-img img {
  width: 100%;
  height: 350px;
  border: 1px solid #bdc7d5;
  background-color: #f0f1f5;
  border-radius: 20px;
  float: right;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}
.project-lower-container {
  background-color: #f0f1f5;
  padding-top: 80px;
  padding-bottom: 80px;
}
.category-part {
  border: 1px solid #439aff;
  color: #439aff;
  font-size: 18px;
  border-radius: 40px;
  padding: 30px 50px;
  width: 240px;
  height: 40px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
}

.category-part p {
  margin: 0; /* 기본 마진 제거 */
}

.like-img {
  display: inline-flex;
  align-items: center;
  font-size: 10.5px;
  color: #898989;
  margin-right: 10px;
}
