.project-explanation-label label {
  width: max-content;
  margin-bottom: 0.5rem;
  display: flex;
  align-items: center;
  font-size: 24px;
  font-weight: 800;
}

.project-explanation-content {
  margin: 40px 0px;
}
.project-link-container {
  background-color: #f0f1f5;
  margin-top: 150px;
  padding: 48px 0px;
}
.project-url-label label {
  font-size: 20px;
  margin-bottom: 20px;
}
.project-url-label {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.project-link-button {
  display: flex;
  align-items: center;
  width: 200px;
  padding: 10px 20px 10px 20px;
  border: 1px solid #439aff;
  color: #439aff;
  font-size: 12px;
  background-color: white;
  border-radius: 10px;
  margin-bottom: 20px;
}
.project-link-button:hover {
  background-color: #439aff;
  color: white;
}
/*좋아요*/
.project-like-container {
  display: flex;
  justify-content: center;
  margin-top: 150px;
}
.project-read-like {
  padding: 10px 40px;
  font-size: 16px;
  color: #439aff;
  background-color: white;
  border: 1px solid #439aff;
  border-radius: 20px;
  display: block;
  align-items: center;
}

.project-read-like:hover {
  background-color: #439aff;
  color: white;
}
.project-like {
  color: #439aff;
  background-color: white;
}
.project-main-img {
  text-align: center;
  font-size: 18px;
  background: #898989;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 200px 50px;
  border-radius: 20px;
}
